<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 namespace：必须有值，自定义的唯一字符串
 推荐使用：dao 接口的全限定名称
-->
<mapper namespace="com.ly.dao.Figure.FigureMapper">
    <!--
    <select>: 查询数据， 标签中必须是 select 语句
    id: sql 语句的自定义名称，推荐使用 dao 接口中方法名称，也就是StudentDao接口
    使用名称表示要执行的 sql 语句
    resultType: 查询语句的返回结果数据类型，使用全限定类名,这里填domain中的Student实体类的reference
    -->
    <!--查询所有忍者手办-->
    <select id="allrenzheFigure" resultType="com.ly.pojo.Figure">
        <!--要执行的 sql 语句-->
        select * from figure
    </select>
    <!--查询以销售量排序（降序）-->
    <select id="SalesSort" resultType="com.ly.pojo.Figure">
        <!--要执行的 sql 语句-->
        select * from figure order by figureSales desc
    </select>
    <!--查询所有晓组织成员手办-->
    <select id="xiaozuzhiFigure" resultType="com.ly.pojo.Figure">
        <!--要执行的 sql 语句-->
        select * from figure
        <where>
            figureBelong="晓组织"
        </where>
    </select>
    <!--查询历代火影手办-->
    <select id="lidaihuoyingFigure" resultType="com.ly.pojo.Figure">
        <!--要执行的 sql 语句-->
        select * from figure
        <where>
            figureBelong="历代火影"
        </where>
    </select>
    <!--查询所有忍刀七人众成员手办-->
    <select id="rendaoqirenFigure" resultType="com.ly.pojo.Figure">
        <!--要执行的 sql 语句-->
        select * from figure
        <where>
            figureBelong="忍刀七人众"
        </where>
    </select>
    <!--查询所有会八门遁甲的忍者手办-->
    <select id="bamendunjiaFigure" resultType="com.ly.pojo.Figure">
        <!--要执行的 sql 语句-->
        select * from figure
        <where>
            figureBelong="八门遁甲"
        </where>
    </select>
    <!--更新时点击该忍者的修改，根据该忍者的id去查找信息-->
    <select id="queryrenzheFigureById" resultType="com.ly.pojo.Figure">
        <!--要执行的 sql 语句-->
        select * from figure
        <where>
            figureId = #{figureId}
        </where>
    </select>
    <!--新增手办-->
    <insert id="addrenzheFigure" parameterType="com.ly.pojo.Figure">
        insert into figure(figureName,figureLink,figureImage,figureBelong,figureIntroduce,figurePrice,figureSales)
        values (#{figureName},#{figureLink},#{figureImage},#{figureBelong},#{figureIntroduce},#{figurePrice},0)
    </insert>
    <!--修改手办-->
    <update id="updaterenzheFigure" parameterType="com.ly.pojo.Figure">
        update figure
        set figureName = #{figureName},figureLink = #{figureLink},figureImage = #{figureImage},
            figureBelong = #{figureBelong},figureIntroduce = #{figureIntroduce},figurePrice = #{figurePrice}
        where figureId = #{figureId}
    </update>
    <!--删除手办-->
    <delete id="deleterenzheFigureById" parameterType="int">
        delete
        from figure
        where figureId = #{figureId}
    </delete>
    <!--增加销量-->
    <update id="addFigureSales">
        update figure
        set figureSales = figureSales+#{figureSales}
        where figureId=#{figureId};
    </update>
    <!--查询所有手办分类-->
    <select id="allFigureBelong" resultType="com.ly.pojo.FigureBelong">
        <!--要执行的 sql 语句-->
        select * from figurebelong
    </select>
    <!--新增手办分类-->
    <insert id="addFigureBelong" parameterType="com.ly.pojo.FigureBelong">
        insert into figurebelong(figureBelongName)
        values (#{figureBelongName})
    </insert>
    <!--更新时点击该手办信息的修改，根据该手办信息的id去查找信息-->
    <select id="queryFigureBelongById" resultType="com.ly.pojo.FigureBelong">
        <!--要执行的 sql 语句-->
        select * from figurebelong
        <where>
            figureBelongId = #{figureBelongId}
        </where>
    </select>
    <!--修改手办分类信息-->
    <update id="updateFigureBelong" parameterType="com.ly.pojo.FigureBelong">
        update figurebelong
        set figureBelongName = #{figureBelongName}
        where figureBelongId = #{figureBelongId}
    </update>
    <!--删除手办分类信息-->
    <delete id="deleteFigureBelongById" parameterType="int">
        delete
        from figurebelong
        where figureBelongId = #{figureBelongId}
    </delete>

    <!--管理员去报表页面，查看“当日”各个手办的销售情况-->
    <select id="toAdminShowFigureReportFormsToday" resultType="com.ly.pojo.Order">
        <!--要执行的 sql 语句-->
        select * from order
        where payTime > #{days};
    </select>
    <!--管理员去报表页面，查看“当日”各个手办的销售情况-->
    <select id="toAdminShowFigureReportFormsDays" resultType="com.ly.pojo.Order">
        <!--要执行的 sql 语句-->
        select * from order
        where payTime > #{days};
    </select>
</mapper>










