.OPEDding .addmusicButton{
    position:absolute;
    top:30px;
    right:30px;
    font-size:25px;
}
.OPED{
    /*     border: 2px solid pink;
        height: 520px;
        border-top:none;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        overflow-y:auto; */
}
.OPEDding{
    height: 40px;
    line-height: 50px;
}
.OPEDding p{
    font-size:20px;
    padding: 0 0 0 28px;
}
span{
    color:blue;
}
.OPEDshunxv{
    margin: 10px 0 0 20px;
}
.OPEDshunxv li{
    width: 1000px;
    height: 110px;
    border:1px solid gray;
    border-radius: 55px;
    background-color: #e9f0f6;
    opacity: 0.7;
    margin:0 0 18px 0;
}
.OPEDshunxv p{
    font-size:20px;
    margin: 10px 0 20px 40px;
}
@keyframes rotate2{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.OPEDshunxv li:hover img{
    animation: rotate2 1s linear infinite;
}
.OPEDshunxv img{
    position: relative;
    top: -68px;
    left: 135px;
    width: 40px;
    height: 40px;
}
.OPEDshunxv audio{
    position: relative;
    top: -60px;
    left: 280px;
    width: 400px;
    height: 60px;
}
.OPEDshunxv i{
    position: relative;
    top:-82px;
    left: 265px;
}
.OPED .TworenzheButton{
    position:relative;
    top:-130px;
    left:800px;
    font-size:20px;
    width:200px;
}
.OPEDshunxv .TworenzheButton a:hover{
    color:red;
}